body {
    display: grid;
    grid-template-areas:
        "header header header header"
        "post post post sidebar"
        "footer footer footer footer";
    
}

.header-container {
    grid-area: header;
}

.post-container {
    grid-area: post;
}

.sidebar-container {
    grid-area: sidebar;
}

.footer-container {
    grid-area: footer;
}
